<?xml version='1.0' encoding='utf-8'?>
<Realmaker配置文件>
    <应用掩膜>true</应用掩膜>
    <掩膜路径>./Mask</掩膜路径>
    <串口名>ttyACM0</串口名>
    <串口超时时间>70</串口超时时间>
    <波特率>9600</波特率>
    <底片时间>50,50,20,20,20</底片时间>
    <防压裂距离>5</防压裂距离>
    <上升速度>250</上升速度>
    <下降速度>150</下降速度>
    <ip地址>192.168.0.17</ip地址>
    <ip端口>2000</ip端口>
    <目标亮度>100</目标亮度>
    <材料对应亮度>
        <GIN01-RZYY>100</GIN01-RZYY>
        <M200-C-XFMX>100</M200-C-XFMX>
        <SG4010>100</SG4010>
        <D200G>100</D200G>
        <WD010-GDLX>100</WD010-GDLX>
        <W010D-ZJ>100</W010D-ZJ>
        <M200-Z-DWQ>100</M200-Z-DWQ>
        <GIN01>100</GIN01>
        <W010D>100</W010D>
        <M200-C-DWQ>100</M200-C-DWQ>
        <black>100</black>
        <WD010-ZJLX>100</WD010-ZJLX>
        <M200-A-LSY>100</M200-A-LSY>
        <SG4002-ZZDB>100</SG4002-ZZDB>
        <M200-Z-ZZMX>100</M200-Z-ZZMX>
        <M200-Z-XFMX>100</M200-Z-XFMX>
        <M200-C-ZZMX>100</M200-C-ZZMX>
        <M126H>100</M126H>
    </材料对应亮度>
    <温度>25</温度>
    <休眠时间>100</休眠时间>
    <序列号>RMK2021000000HOP</序列号>
    <机型>5</机型>
    <光机类型>1</光机类型>
    <亮度误差>5</亮度误差>
    <主程序版本>3.2.6</主程序版本>
    <光机版本>3.01.6</光机版本>
    <测压脉冲数>58837</测压脉冲数>
    <局域网联通>true</局域网联通>
    <互联网联通>true</互联网联通>
</Realmaker配置文件>
